<%= form_for(@scam) do |f| %>
  <% if @scam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scam.errors.count, "error") %> prohibited this scam from being saved:</h2>

      <ul>
      <% @scam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sender %><br>
    <%= f.text_field :sender %>
  </div>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :messsage %><br>
    <%= f.text_field :messsage %>
  </div>

  <div class="actions">
    <%= f.submit 'Analyse' %>
  </div>
<% end %>
