<p id="notice"><%= notice %></p>

<h1>Listing Checked Scams</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Sender</th>
      <th>Messsage</th>
      <th>Result</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scams.each do |scam| %>
      <tr>
        <td><%= scam.title %></td>
        <td><%= scam.sender %></td>
        <td><%= scam.messsage %></td>
        <td><%= scam.result %></td>
        <td><%= link_to 'Confirm Scam', scam %></td>
        <td><%= link_to 'Confirm Legit', scam %></td>
        <td><%= link_to 'Show', scam %></td>
        <td><%= link_to 'Edit', edit_scam_path(scam) %></td>
        <td><%= link_to 'Destroy', scam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h2>Scam Word Index</h2>

<p>
  Here you can see the frequencies of word stems found in scam messages. A higher count indicates that the word is often contained in scam messages.
</p>

<%= SCAM_CHECKER.instance_variable_get('@categories')[:Scam] %>
